@charset "UTF-8";
/* CSS Document */
/* mobiel */
@media screen and (max-width:768.9px){

}

/* desktop */
@media screen and (min-width: 769px) {

    *{
        margin: 0;
        padding: 0;
        background-color: #243D4E;
    }

    #banner-img {
        width: 100vw;
    }

    .alinea {
        color: white;
    }

    .alinea h1 {
        text-align: center;
        margin-bottom: 3vh;
    }

    .alinea-flex {
        display: flex;
        width: 90vw;
        margin: auto;
    }

    .section_img{
        width: 20vw;
        margin-left: 10vw;
        
    }


}